WcfServiceApplicationTests/Connected Services/MySecondWCFServiceReference/MySecondWCFService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50613/MySecondWCFService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/WcfServiceApplication" />
  <xs:element name="GetFactorialNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="number" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFactorialNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetFactorialNumberResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApplyOperation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="number1" type="xs:int" />
        <xs:element minOccurs="0" name="number2" type="xs:int" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfServiceApplication" minOccurs="0" name="enumOperator" type="q1:EnumOperator" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApplyOperationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ApplyOperationResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>