WcfServiceApplicationTests/Connected Services/MySecondWCFServiceReference/MySecondWCFService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MySecondWCFService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50613/MySecondWCFService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50613/MySecondWCFService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.ServiceModel" />
      <xsd:import schemaLocation="http://localhost:50613/MySecondWCFService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50613/MySecondWCFService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System" />
      <xsd:import schemaLocation="http://localhost:50613/MySecondWCFService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/WcfServiceApplication" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMySecondWCFService_GetFactorialNumber_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFactorialNumber" />
  </wsdl:message>
  <wsdl:message name="IMySecondWCFService_GetFactorialNumber_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFactorialNumberResponse" />
  </wsdl:message>
  <wsdl:message name="IMySecondWCFService_GetFactorialNumber_FaultExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/System.ServiceModel" name="detail" element="q1:FaultException" />
  </wsdl:message>
  <wsdl:message name="IMySecondWCFService_ApplyOperation_InputMessage">
    <wsdl:part name="parameters" element="tns:ApplyOperation" />
  </wsdl:message>
  <wsdl:message name="IMySecondWCFService_ApplyOperation_OutputMessage">
    <wsdl:part name="parameters" element="tns:ApplyOperationResponse" />
  </wsdl:message>
  <wsdl:message name="IMySecondWCFService_ApplyOperation_FaultExceptionFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/System.ServiceModel" name="detail" element="q2:FaultException" />
  </wsdl:message>
  <wsdl:portType name="IMySecondWCFService">
    <wsdl:operation name="GetFactorialNumber">
      <wsdl:input wsaw:Action="http://tempuri.org/IMySecondWCFService/GetFactorialNumber" message="tns:IMySecondWCFService_GetFactorialNumber_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMySecondWCFService/GetFactorialNumberResponse" message="tns:IMySecondWCFService_GetFactorialNumber_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IMySecondWCFService/GetFactorialNumberFaultExceptionFault" name="FaultExceptionFault" message="tns:IMySecondWCFService_GetFactorialNumber_FaultExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ApplyOperation">
      <wsdl:input wsaw:Action="http://tempuri.org/IMySecondWCFService/ApplyOperation" message="tns:IMySecondWCFService_ApplyOperation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMySecondWCFService/ApplyOperationResponse" message="tns:IMySecondWCFService_ApplyOperation_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IMySecondWCFService/ApplyOperationFaultExceptionFault" name="FaultExceptionFault" message="tns:IMySecondWCFService_ApplyOperation_FaultExceptionFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMySecondWCFService" type="tns:IMySecondWCFService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetFactorialNumber">
      <soap:operation soapAction="http://tempuri.org/IMySecondWCFService/GetFactorialNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultExceptionFault">
        <soap:fault use="literal" name="FaultExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ApplyOperation">
      <soap:operation soapAction="http://tempuri.org/IMySecondWCFService/ApplyOperation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultExceptionFault">
        <soap:fault use="literal" name="FaultExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MySecondWCFService">
    <wsdl:port name="BasicHttpBinding_IMySecondWCFService" binding="tns:BasicHttpBinding_IMySecondWCFService">
      <soap:address location="http://localhost:50613/MySecondWCFService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>